<div class="result" id="result" style=<%= showStyle %>>
    <div class="word">
        <% if(word && word.word && diacriticList.some(l => word.word.toLowerCase().includes(l))){ %>
            <p class="note">* The diacritic ◌̃ represents a nasalized vowel.</p>
        <% } %>
        <div class="word-box">
            <h2><%= word.word %>
                <span class="variant-tag" id="<%= word.word %><%= variant %>"><%= variant %></span>
            </h2>
            <p><%= word.phonetics %></p>

            <!-- Simp/Trad toggle switch -->
            <% let hasTrad = false; %>
            <% if(word.origin && word.origin.length > 0){ %>
                <% for(let i = 0; i < word.origin.length; i++){ %>
                    <% if(word.origin[i].traditional && word.origin[i].traditional != ""){ %>
                        <% hasTrad = true; %>
                        <% break; %>
                    <% } else if(word.origin[i].etyTrad && word.origin[i].etyTrad.length > 0) { %>
                        <% for(let j = 0; j < word.origin[i].etyTrad.length; j++){ %>
                            <% if(word.origin[i].etyTrad[j] != ""){ %>
                                <% hasTrad = true; %>
                                <% break; %>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } %>
            <% } %>
            <% if(hasTrad){ %>
                <div class="toggle-wrapper" title="Switch between scripts. Alternatively, click on an individual word to swap its script.">
                    <span class="toggle-text chinese-chars">简</span>
                    <label class="switch">
                        <input type="checkbox" name="stToggle" onclick="stToggle(this)">
                        <span class="slider"></span>
                    </label>
                    <span class="toggle-text chinese-chars">繁</span>
                </div>
            <% } %>
        </div>

        <% if(!word.hasOwnProperty("origin")){ %>
            <div class="ortho-box">
                <p><i>origins unknown</i></p>
            </div>
        <% } else { %>
        <div class="ety-container">
            <!-- main container -->
            <div class="ortho-container" id="ortho-container-<%= word.word %><%= variant %>" name="show">
                <p class="ortho-origin arrow">→</p>
                <% for(let i = 0; i < word.origin.length; i++) { %>
                    <% if(i != 0) { %>
                        <h2 class="plus">+</h2>
                    <% } %>
                    <div class="ortho-box">
                        <% const langName = word.origin[i].lang.toLowerCase().charAt(0).toUpperCase() + word.origin[i].lang.toLowerCase().slice(1); %>
                        <% if(i == 0 || word.origin[i].lang.toLowerCase() != word.origin[i-1].lang.toLowerCase()){ %>
                            <p class="ortho-origin small-caps"><%= langName %>:</p>
                        <% } %>
                        <% if(chineseLangs.some(l => langName.toLowerCase().includes(l)) || (langName.toLowerCase().includes("japanese") && word.origin[i].traditional && word.origin[i].traditional != "")){ %>
                            <!-- Chinese languages -->
                            <div name="chinese-chars">
                                <h3 class="chinese-chars simp" name="show" title="Click for Traditional" style="display: block; visibility: visible; z-index: 2;" onclick="swapChinese(this)">
                                    <%- formatDyno(word.origin[i].simplified) %></h3>
                                <h3 class="chinese-chars trad" name="hide" title="Click for Simplified" style="display: none; visibility: hidden; z-index: -1;" onclick="swapChinese(this)">
                                    <%- formatDyno(word.origin[i].traditional) %></h3>
                            </div>
                            <div class="roman-flex">
                                <% if(word.origin[i].romanization == undefined || word.origin[i].romanization == ""){ %>
                                    <% if(word.origin[i].lang.toLowerCase().includes("chinese")){ %>
                                        <p class="romanization">pinyin:</p>
                                    <% } else if(langName.toLowerCase().includes("hokkien") || word.origin[i].lang.toLowerCase().includes("min nan")){ %>
                                        <p class="romanization">poj:</p>
                                    <% } else if(langName.toLowerCase().includes("cantonese")){ %>
                                        <p class="romanization">jyutping:</p>
                                    <% } else if(langName.toLowerCase().includes("teochew")){ %>
                                        <p class="romanization">peng'im:</p>
                                    <% } else if(langName.toLowerCase().includes("mandarin")){ %>
                                        <p class="romanization">pinyin:</p>
                                    <% } %>
                                <% } else { %>
                                    <p class="romanization"><%= word.origin[i].romanization.toLowerCase() %>:</p>
                                <% } %>
                                <p class="ortho-roman"><%= word.origin[i].roman %></p>
                            </div>
                        <% } else if(word.origin[i].simplified != undefined && word.origin[i].simplified != "") { %>
                            <!-- Other alt-script languages -->
                            <% if(word.origin[i].simplified != ""){ %>
                            <h3 class="non-bold non-chinese"><%- formatDyno(word.origin[i].simplified) %></h3>
                            <div class="roman-flex">
                                <% if(word.origin[i].romanization != undefined && word.origin[i].romanization != "") { %>
                                    <p class="romanization"><%= word.origin[i].romanization %>:</p>
                                <% } %>
                                <% if(word.origin[i].roman != undefined && word.origin[i].roman != "") { %>
                                    <p class="ortho-roman"><%= word.origin[i].roman %></p>
                                <% } %>
                            </div>
                            <% } %>
                        <% } else if(langName.toLowerCase() == "singlish") { %>
                            <h4><a href="./?q=<%= formatIdLink(word.origin[i].roman.toLowerCase()) %>"><%- formatId(word.origin[i].roman) %></a></h4>
                        <% } else { %>
                            <h4><%- formatDyno(word.origin[i].roman) %></h4>
                        <% } %>
                    </div>
                <% } %>
            </div>

            <!-- extended container -->
            <div class="ortho-container ortho-container-ext" id="ext-container-<%= word.word %><%= variant %>" name="hide" style = "display: none; visibility: hidden">
                <% for(let i = 0; i < word.origin.length; i++) { %>
                    <div class="origin-container">
                        <% if(i != 0) { %>
                            <h2 class="ortho-origin" style="font-style: normal;">+ </h2>
                        <% } else { %>
                            <p class="ortho-origin">from</p>
                        <% } %>
                        <div class="ortho-box">
                            <div class="ortho-box-ext">
                                <% const langName = word.origin[i].lang.toLowerCase(); %>
                                <div class="lang-romz-wrapper">
                                    <p class="ortho-origin-ext small-caps"><%= langName %></p>
                                   
                                    <% if(chineseLangs.some(l => langName.includes(l))){ %>
                                        <% if(word.origin[i].romanization == undefined || word.origin[i].romanization == ""){ %>
                                            <% if(langName.includes("chinese")){ %>
                                                <p class="romanization">(pinyin)</p>
                                            <% } else if(langName.includes("hokkien") || langName.includes("min nan")){ %>
                                                <p class="romanization">(poj)</p>
                                            <% } else if(langName.includes("cantonese")){ %>
                                                <p class="romanization">(jyutping)</p>
                                            <% } else if(langName.includes("teochew")){ %>
                                                <p class="romanization">(peng'im)</p>
                                            <% } else if(langName.includes("mandarin")){ %>
                                                <p class="romanization">(pinyin)</p>
                                            <% } %>
                                        <% } else { %>
                                            <p class="romanization">(<%= word.origin[i].romanization.toLowerCase() %>)</p>
                                        <% } %>
                                    <% } %>
                                </div>

                                <% if(chineseLangs.some(l => langName.includes(l)) || (langName.includes("japanese") && word.origin[i].traditional && word.origin[i].traditional != "")){ %>
                                    <!-- Chinese languages -->
                                    <div class="chinese-wrapper-ext">
                                        <div name="chinese-chars">
                                            <h3 class="chinese-chars-ext simp" name="show" title="Click for Traditional" style="display: block; visibility: visible; z-index: 2;" onclick="swapChinese(this)">
                                                <%- formatDyno(word.origin[i].simplified) %></h3>
                                            <h3 class="chinese-chars-ext trad" name="hide" title="Click for Simplified" style="display: none; visibility: hidden; z-index: -1;" onclick="swapChinese(this)">
                                                <%- formatDyno(word.origin[i].traditional) %></h3>
                                        </div>
                                        <div class="roman-flex-ext">
                                            <p class="ortho-roman"><%= word.origin[i].roman %></p>
                                        </div>
                                    </div>
                                <% } else if(word.origin[i].simplified != undefined && word.origin[i].simplified != "") { %>
                                    <!-- Other alt-script languages -->
                                    <% if(word.origin[i].simplified != ""){ %>
                                    <div class="chinese-wrapper-ext">
                                        <h3 class="non-bold non-chinese"><%- formatDyno(word.origin[i].simplified) %></h3>
                                        <div class="roman-flex-ext">
                                        <% if(word.origin[i].roman != undefined && word.origin[i].roman != "") { %>
                                            <p class="ortho-roman"><%= word.origin[i].roman %></p>
                                        <% } %>
                                        </div>
                                    </div>
                                    <% } %>
                                <% } else if(langName.toLowerCase() == "singlish") { %>
                                    <h4><a href="./?q=<%= formatIdLink(word.origin[i].roman.toLowerCase()) %>"><%- formatId(word.origin[i].roman) %></a></h4>
                                <% } else { %>
                                    <h4 style="margin: 0;"><%- formatDyno(word.origin[i].roman) %></h4>
                                <% } %>

                                <div class="ortho-lit-div">
                                    <p class="lit"><%- formatDyno(word.origin[i].lit) %></p>
                                </div>
                            </div>
                        </div>

                        <!-- ety paths -->
                        <% if(word.origin[i].etyPath){ %>
                            <% for(let j = 0; j < word.origin[i].etyPath.length; j++){ %>
                                <% if(word.origin[i].etyType != undefined && j != 0){ %>
                                    <% if(word.origin[i].etyType[j-1] == "" || word.origin[i].etyType[j-1] == "-"){ %>
                                        <p class="ortho-origin ortho-arrow" title="via">←</p>
                                    <% } else if(word.origin[i].etyType[j-1] == "tx" || word.origin[i].etyType[j-1] == "c"){ %>
                                        <p class="ortho-origin ortho-arrow" title="calque or direct translation">↻</p>
                                    <% } else if(word.origin[i].etyType[j-1]=="re" || word.origin[i].etyType[j-1]=="x2"){ %>
                                        <p class="ortho-origin ortho-arrow" title="reduplication">⇇</p>
                                    <% } else if(word.origin[i].etyType[j-1]=="++"){ %>
                                        <p class="ortho-origin ortho-arrow plus-within">+</p>
                                    <% } else { %>
                                        <p class="ortho-origin ortho-arrow"><%= word.origin[i].etyType[j-1] %></p>
                                    <% } %>
                                <% } else if(j == 0 && word.origin[i].type && word.origin[i].type != "") { %>
                                    <% if(word.origin[i].type == "tx" || word.origin[i].type == "c"){ %>
                                        <p class="ortho-origin ortho-arrow" title="calque or direct translation">↻</p>
                                    <% } else if(word.origin[i].type == "clip" || word.origin[i].type == "elision"){ %>
                                        <p class="ortho-origin ortho-arrow" title="clipping, shortening, or elision">✂</p>
                                    <% } else if(word.origin[i].type == "re" || word.origin[i].type == "x2" ){ %>
                                        <p class="ortho-origin ortho-arrow" title="reduplication">⇇</p>
                                    <% } else { %>
                                        <p class="ortho-origin ortho-arrow"><%= word.origin[i].type %></p>
                                    <% } %>
                                <% } else { %>
                                    <p class="ortho-origin ortho-arrow" title="via">←</p>
                                <% } %>
                                <div class="ortho-box">
                                <div class="ortho-box-ext">
                                    <!-- const langName = word.origin[i].etyPath[j].toLowerCase().charAt(0).toUpperCase() + word.origin[i].etyPath[j].toLowerCase().slice(1); %> -->
                                    <% const langName = word.origin[i].etyPath[j].toLowerCase(); %>
                                    
                                    <div class="lang-romz-wrapper">
                                        <p class="ortho-origin-ext small-caps"><%= langName %></p>
                                        <% if(word.origin[i].etyPath[j] && chineseLangs.some(l => word.origin[i].etyPath[j].toLowerCase().includes(l))){ %>
                                            <% if(word.origin[i].etyScheme == false || word.origin[i].etyScheme == undefined || word.origin[i].etyScheme == undefined || word.origin[i].etyScheme[j] == undefined || word.origin[i].etyScheme[j] == ""){ %>
                                                <% if(word.origin[i].etyPath[j].includes("chinese")){ %>
                                                    <p class="romanization">(pinyin)</p>
                                                <% } else if(word.origin[i].etyPath[j].includes("hokkien") || word.origin[i].etyPath[j].includes("min nan")){ %>
                                                    <p class="romanization">(poj)</p>
                                                <% } else if(word.origin[i].etyPath[j].includes("cantonese")){ %>
                                                    <p class="romanization">(jyutping)</p>
                                                <% } else if(word.origin[i].etyPath[j].includes("teochew")){ %>
                                                    <p class="romanization">(peng'im)</p>
                                                <% } else if(word.origin[i].etyPath[j].includes("mandarin")){ %>
                                                    <p class="romanization">(pinyin)</p>
                                                <% } %>
                                            <% } else { %>
                                                <p class="romanization">(<%= word.origin[i].etyScheme[j] %>)</p>
                                            <% } %>
                                        <% } %>
                                    </div>

                                    <% if(word.origin[i].etyPath[j] && (chineseLangs.some(l => word.origin[i].etyPath[j].toLowerCase().includes(l))
                                        || (langName.includes("japanese") && word.origin[i].etyTrad[j] && word.origin[i].etyTrad[j] != ""))){ %>
                                    <!-- Chinese languages -->
                                    <div class="chinese-wrapper-ext">
                                        <div name="chinese-chars">
                                            <h3 class="chinese-chars-ext simp" name="show" title="Click for Traditional" style="display: block; visibility: visible; z-index: 2;" onclick="swapChinese(this)">
                                                <%- formatDyno(word.origin[i].etyScript[j]) %></h3>
                                            <h3 class="chinese-chars-ext trad" name="hide" title="Click for Simplified" style="display: none; visibility: hidden; z-index: -1;" onclick="swapChinese(this)">
                                                <%- formatDyno(word.origin[i].etyTrad[j]) %></h3>
                                        </div>
                                        <div class="roman-flex-ext">
                                            <p class="ortho-roman"><%= word.origin[i].etyRoman[j].replace(/,/g, ", ") %></p>
                                        </div>
                                    </div>
                                    <% } else if(word.origin[i].etyScript && word.origin[i].etyScript[j] != undefined && word.origin[i].etyScript[j] != "") { %>
                                        <!-- Other alt-script languages -->
                                        <% if(word.origin[i].etyScript[j] != ""){ %>
                                        <div class="chinese-wrapper-ext">
                                            <h3 class="non-bold non-chinese"><%- formatDyno(word.origin[i].etyScript[j]) %></h3>
                                            <div class="roman-flex-ext">
                                                <p class="ortho-roman">
                                                <% if(word.origin[i].etyScript[j] !="" && word.origin[i].etyRoman){ %>
                                                    <%= word.origin[i].etyRoman[j].replace(/,/g, ", ") %>
                                                <% } %>
                                                </p>
                                            </div>
                                        </div>
                                        <% } %>
                                    <% } else if(langName.toLowerCase() == "singlish") { %>
                                        <h4><a href="./?q=<%= formatIdLink(word.origin[i].etyRoman[j].toLowerCase()) %>"><%- formatId(word.origin[i].etyRoman[j]) %></a></h4>
                                    <% } else { %>
                                        <h4 style="margin: 0;"><%- formatDyno(word.origin[i].etyRoman[j].replace(/,/g, ", ")) %></h4>
                                    <% } %>
                                    
                                    <% if(word.origin[i].etyLit[j]){ %>
                                        <p class="lit"><%- formatDyno(word.origin[i].etyLit[j].replace(/,/g, ", ")) %></p>
                                    <% } %>
                                </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                <% } %>
            </div>
        </div>

        <!-- ety notes -->
        <% if(word.hasOwnProperty("etyNotes")){ %>
            <% if(word.etyNotes.length > 0){ %>
                <div class="details ety-notes-div" id="ety-notes-<%= word.word %><%= variant %>" style="display: none; visibility: hidden">
                    <h3 class="ety-notes-leader">etymology notes</h3>
                    <p class="text cn-fallback"><%- formatDyno(word.etyNotes) %></p>
                </div>
            <% } %>

            <% if(word.hasOwnProperty("ngram")){ %>
                <% if(word.ngram.length > 0){ %>
                <div class="ngram" id="ngram-<%= word.word %><%= variant %>" style="height: 0; visibility: hidden">
                    <iframe name="ngram_chart" allowtransparency="true" src="<%- word.ngram %>" marginwidth="0" marginheight="0" hspace="1" vspace="1" frameborder="1" scrolling="yes"></iframe>
                </div>
                <% } %>
            <% } %>
        <% } %>
        <% } %>
    </div>
    <div class="more-info-wrapper">
        <div class="more-info-div" onclick="swapEty(`<%= word.word %><%= variant %>`)">
            <div class="ttip-ety">
                <span class="expand-text" id="expand-text-<%= word.word %><%= variant %>">details</span>
                <i class="fa-solid fa-circle-down ety-extend" tabindex="0"
                    id="ety-btn-<%= word.word %><%= variant %>"></i>
                <span class="tooltip-text" id="ety-tooltip-<%= word.word %><%= variant %>">Detailed etymology</span>
            </div>
        </div>
        <hr>
    </div>
</div>

<script>
    function swapEty(v){
        console.log
        const etyBtn = document.getElementById(`ety-btn-${v}`);
        const etyTtip = document.getElementById(`ety-tooltip-${v}`);
        const etyExpandText = document.getElementById(`expand-text-${v}`);
        const orthoContainer = document.getElementById(`ortho-container-${v}`);
        const extContainer = document.getElementById(`ext-container-${v}`);
        const etyNotes = document.getElementById(`ety-notes-${v}`);
        const ngram = document.getElementById(`ngram-${v}`);
        etyBtn.blur();
        if(orthoContainer.name == "hide"){
            orthoContainer.style = "display: flex; visibility: visible";
            extContainer.style = "display: none; visibility: hidden";
            orthoContainer.name = "show";
            extContainer.name = "hide";
            if(etyNotes) etyNotes.style = "display: none; visibility: hidden";
            if(ngram) ngram.style = "height: 0; visibility: hidden; margin: 0;";
            etyTtip.innerHTML = "Detailed etymology";
            etyBtn.style = "transform: rotate(0)";
            // etyExpandText.style = "color:#6d946d";
        }
        else{
            orthoContainer.style = "display: none; visibility: hidden";
            extContainer.style = "display: flex; visibility: visible";
            orthoContainer.name = "hide";
            extContainer.name = "show";
            if (etyNotes) etyNotes.style = "display: block; visibility: visible";
            if (ngram) ngram.style = "height: 12.5em; visibility: visible; margin: 1em 1em 1.5em .5em;";
            etyTtip.innerHTML = "Collapse details";
            etyBtn.style = "transform: rotate(0.5turn)";
            // etyExpandText.style = "color:#951818";
        }
    }

    function swapChinese(el){
        const charDiv = el.parentElement;
        const trad = charDiv.children[0];
        const simp = charDiv.children[1];

        if(trad.name == "hide"){
            trad.style = "display: block; visibility: visible; z-index: 2; transition: 1s";
            simp.style = "display: none; visibility: hidden; z-index: -1; transition: 1s";
            trad.name = "show";
            simp.name = "hide";
        }
        else {
            simp.style = "display: block; visibility: visible; z-index: 2; transition: 1s";
            trad.style = "display: none; visibility: hidden; z-index: -1; transition: 1s";
            simp.name = "show";
            trad.name = "hide";
        }
    }

    function stToggle(el){
        let simps = document.getElementsByClassName("simp");
        let trads = document.getElementsByClassName("trad");
        let toggles = document.getElementsByName("stToggle");

        // if toggle to trad
        if(el.checked && simps && trads){
            [...simps].forEach(simp => {
                simp.style = "display: none; visibility: hidden; z-index: -1; transition: 1s";
                simp.name = "hide";
            });
            [...trads].forEach(trad => {
                trad.style = "display: block; visibility: visible; z-index: 2; transition: 1s";
                trad.name = "show";
            });
            [...toggles].forEach(toggle => {
                toggle.checked = true;
            });
        }
        // if toggle to simp
        else if (!el.checked && simps && trads) {
            [...trads].forEach(trad => {
                trad.style = "display: none; visibility: hidden; z-index: -1; transition: 1s";
                trad.name = "hide";
            });
            [...simps].forEach(simp => {
                simp.style = "display: block; visibility: visible; z-index: 2; transition: 1s";
                simp.name = "show";
            });
            [...toggles].forEach(toggle => {
                toggle.checked = false;
            });
        }
    }
</script>
