<!-- main word result -->
<%- include("./result_main") %>

<!-- details -->
<div class="result" id="details" style=<%= showStyle %>>
    <!-- definitions -->
    <div class="defs">
        <h3 class="defs-leader" name="definitions-leader">definitions</h3>
        <% if(word.word == undefined || word.meanings == undefined || word.meanings.length == 0) { %>
            <br><p><i>no definitions recorded yet!</i></p>
        <% } else { %>
            <% for(const [pos, posDet] of Object.entries(word.meanings)) { %>
            <h4><%= pos %></h4>
            <ol type="1" class="defs-list">
                <% for (let j = 0; j < posDet.length; j++) { %>
                    <!-- check if examples are given -->
                    <li class="definition"><%- formatDyno(posDet[j].definition) %></li> 
                    <% if(posDet[j].example && posDet[j].example.length != 0){ %>
                        <% let example = posDet[j].example %>
                        <% for (let iEg = 0; iEg < example.length; iEg++) { %>
                            <p class="word-example"><%- formatDyno(example[iEg]["eg"]) %></p>
                            <% if (example[iEg]["src"] && example[iEg]["src"].length > 0) { %>
                                <% if(example[iEg]["src"] == "@comm" || example[iEg]["src"] == ""){ %>
                                <p class="word-example-src"></p>
                                <% } else { %>
                                <p class="word-example-src">— <%- example[iEg]["src"] %></p>
                                <% } %>
                            <% } else { %>
                                <p class="word-example-src"></p>
                            <% } %>  
                        <% } %>
                    <% } %>
                    <!-- syno/antonyms -->
                    <% if((posDet[j].synonyms && posDet[j].synonyms.length > 0) || (posDet[j].antonyms && posDet[j].antonyms.length > 0)){ %>
                    <div class="nyms-wrapper">
                    <% if(posDet[j].synonyms && posDet[j].synonyms.length > 0){ %>
                        <div class="nyms-flex" id="synonyms-flex">
                            <p class="synonyms-leader nyms-leader" name="synonyms-leader">synonyms:</p>
                            <div class="nyms-flex-results">
                            <% for(let k = 0; k < posDet[j].synonyms.length; k++){ %>
                                <a class="nyms-list" href=<%- `./?q=${ formatNymLink(posDet[j].synonyms[k]).trim().replace(/ /g,"%20") }` %>>
                                    <%- formatNym(posDet[j].synonyms[k]).trim() %></a>
                            <% } %>
                            </div>
                        </div>
                    <% } %>     
                    <% if(posDet[j].antonyms && posDet[j].antonyms.length > 0){ %>
                        <div class="nyms-flex" id="antonyms-flex">
                            <p class="antonyms-leader nyms-leader" name="antonyms-leader">antonyms:</p>
                            <div class="nyms-flex-results">
                            <% for(let k = 0; k < posDet[j].antonyms.length; k++){ %>
                                <a class="nyms-list" href=<%- `./?q=${ formatNymLink(posDet[j].antonyms[k]).trim().replace(/ /g,"%20") }` %>>
                                    <%- formatNym(posDet[j].antonyms[k]).trim() %></a>
                            <% } %>
                            </div>
                        </div>
                    <% } %>
                    </div>
                    <% } %>                       
                <% } %>
            <br>    
            </ol>
            <% } %>
        <% } %>
    </div>


    <!-- usage notes -->
    <% let nasalMsg = false; %>
    <% if(word.word && diacriticList.some(l=> word.word.toLowerCase().includes(l))){ nasalMsg = true; } else { nasalMsg = false; } %>
    <% if((word.hasOwnProperty("usage") && word.usage.length > 0) || nasalMsg){ %>
    <div class="details">
        <h3>usage notes</h3>
        <% if(word.hasOwnProperty("usage") && word.usage.length> 0){ %>
            <p class="text"><%- formatDyno(word.usage) %></p><br>
        <% } %>
        <% if(nasalMsg){ %>
            <p class="nasal-text">* The nasal vowel is almost always unmarked by speakers, though it is very important to the pronunciation of the term. In a dipthong or tripthong, the recommended convention is to mark the final vowel, unless it is spelled using a repeated letter, in which case the first-occurring repeated letter is marked.</p>
        <% } %>
    </div>
    <% } %>
    

    <!-- particles -->
    <% if(word.hasOwnProperty("particles")){ %>
    <% if(word.particles.length> 0) { %>
    <div class="defs" id="particles">
        <h3 class="defs-leader" style="cursor: default;">particles</h3>
        <% for(let i = 0; i < word.particles.length; i++) { %>
            <div class="particle-wrapper">
                <div class="particle-lead">
                    <h4 class="particle"><a href="./?q=<%= word.particles[i].particle.replace(/[^0-9a-zA-Z ',\-]/g, "") %>"><%= word.particles[i].particle %></a></h4>
                    <div class="particle-dets">
                        <div class="sameRow">
                            <h4 class="pt-effect">effect: </h4>
                            <p class="pt-effect-text"><%- word.particles[i].effect %></p>
                        </div>
                        <div class="sameRow">
                            <h4 class="pt-effect"> — </h4>
                            <p><%- formatDyno(word.particles[i].meaning) %></p>
                        </div>

                        <% if(word.particles[i].hasOwnProperty("example")){ %>
                            <p class="word-example text"><%- formatDyno(word.particles[i].example) %></p>
                        <% } %>

                        <% if(word.particles[i].hasOwnProperty("exampleSource")){ %>
                            <% if(word.particles[i].exampleSource == "@comm" ){ %>
                                <p class="word-example-src">— Community contribution</p>
                            <% } else { %>
                                <p class="word-example-src"><%- word.particles[i].exampleSource %></p>
                            <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    <% } %>
    <% } %>


    <!-- related -->
    <% if(word.related){ %>
    <% if(word.related.length > 0){ %>
    <div class="details">
        <h3>related:</h3>
        <div class="nyms-flex">
            <div class="nyms-flex-results">
            <% for(let i = 0; i < word.related.length; i++){ %>
                <a class="nyms-list" href=<%- `./?q=${formatIdLink(word.related[i].replace(/ /g,"%20"))}` %>>
                    <%- formatId(word.related[i]).trim() %></a>
            <% } %>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>

    <!-- categories -->
    <% if(word.category){ %>
        <% if(word.category.length > 0){ %>
            <div class="details">
                <h3>categories:</h3>
                <div class="nyms-flex">
                    <% for(let i=0; i < word.category.length; i++){ %>
                        <a class="nyms-list" href=<%- `./cat/?c=${word.category[i].replace(/ /g,"%20")}` %>>
                            <%= word.category[i] %>
                        </a>
                    <% } %>
                </div>
            </div>
        <% } %>
    <% } %>

    <!-- references -->
    <% if(word.references){ %>
        <% if(word.references.length > 0){ %>
            <div class="details">
                <h3 name="refs-leader" class="nyms-leader refs-leader">references:</h3>
                <div class="nyms-flex">
                <div class="src-wrapper-in-result">
                    <% for(let i=0; i < word.references.length; i++){ %>
                        <div class="src-line ref-in-result">
                            <p class="src-col ref-in-result-id"><%= i+1 %>.&emsp;</p>
                            <% if(word.references[i].link && word.references[i].link != ""){ %>
                                <a class="src-col" href=<%= word.references[i].link %>>
                                    <%= word.references[i].name %>
                                </a>
                            <% } else { %>
                                <p class="src-col nolinkref">
                                    <%= word.references[i].name %>
                                </p>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                </div>
            </div>
        <% } %>
    <% } %>

    <!-- credits -->
    <% if(word.credits){ %>
        <% if(word.credits.length > 0){ %>
            <div class="details">
                <h3 class="nyms-leader credits-leader">other credits:</h3>
                <div class="nyms-flex">
                    <% for(let i=0; i < word.credits.length; i++){ %>
                        <p class="credit nolinkref"><%= word.credits[i] %></p>
                    <% } %>
                </div>
            </div>
        <% } %>
    <% } %>

</div>