<html lang="en">
    <%- include("./partials/head") %>

    <body>
        <div class="content banner">
            <h1><a href="./" class="title">Chimbridge Singlish Dictionary</a></h1>
        </div>
        <div class="content">
            <div class="def-box" id="def-box">
                <!-- search -->
                <%- include("./partials/search_container") %>

                <!-- result -->
                <% if(typeof results == 'undefined' || results == undefined || !results || results.length <= 1){ %>
                    <%- include("./partials/result") %>
                <% } else { %>
                    <%- include("./partials/multiple_hits", {
                        hits: mFRs,
                        searchInput: searchInput
                    }) %>
                    <% for(let i = 0; i < results.length; i++) { %>
                        <%- include("./partials/result", {
                            alts: results[i][0],
                            wordVars: results[i][1],
                            showVar: results[i][2]
                        }) %>
                        <% if(i < results.length - 1){ %>
                            <div class="div-otter">
                                <hr class="div-hr">
                                <i class="fa-solid fa-otter"></i>
                                <hr class="div-hr">
                            </div>
                        <% } %>
                    <% } %>
                <% } %>

                <!-- starts with also -->
                <% if(prefixResult.length > 0){ %>
                    <%- include("./partials/prefix", {
                        headerText: "entries starting with",
                        result: prefixResult,
                        searchInput: searchInput
                    }) %>
                <% } %>
            </div>
        </div>

        <%- include("./partials/scripts") %>
        <%- include("./partials/footer") %>

        <!-- vercel analytics -->
        <script>
            window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
    </body>

</html>