<!DOCTYPE HTML>
<html lang="en">
    <%- include("./partials/head") %>

    <head>   
        <!-- Stylesheet -->
        <link rel="stylesheet" href="../css/style.css" type="text/css">
    </head>

    <body>
        <div class="content banner">
            <h1><a href="/" class="title">Chimbridge Singlish Dictionary</a></h1>
        </div>
        <div class="content">
            <div class="def-box">
                <div class="langs-head-div">
                    <h2 class="subpage-title">Languages of Origin</h2>
                    <p class="langs-msg">This page lists all recorded languages of origin for entries defined in the dictionary.</p>
                    <p class="langs-msg">Click on a language name for a full list of all terms with origins in that language.</p>
                    <p class="langs-msg">Note that etymologies are typically only traced back to the primary or secondary ancestors of a term, and so older ancestors may not always be included.</p>
                </div>
                <hr>
                <div name="body-wrapper" class="langs-body-wrapper">
                    <svg class="pie" width="350" height="100%" viewBox="0 0 54 54">
                        <% let offset = 0; %>
                        <% for (let i = 0; i < langsArray.length; i++) { %>
                            <% offset += dashArray[i]; %>
                            <g>
                                <circle name="<%= langsArray[i] %>" class="pie-circle" r="<%= radius %>" cx="50%" cy="50%" 
                                    style="fill: none;"
                                    stroke-dasharray="<%= dashArray[i] %>, <%= 2*Math.PI*radius - dashArray[i] %>"
                                    stroke-dashoffset="<%= offset %>"
                                    stroke="<%= colourArray[i] %>"
                                    ondblclick="location.href = './langs?l=<%= langsArray[i] %>'"
                                />
                                <text class="percent-text not-selectable" x="50%" y="50%"><%= +(100* dashArray[i] / (2*Math.PI*radius)).toFixed(2) %>%</text>
                                <text class="lang-name-text not-selectable" x="50%" y="96%"><%= langsArray[i] %></text>
                            </g>
                        <% } %>
                    </svg>
                    <div class="langs-wrapper">
                        <div class="langs-header">
                            <p class="langs-col langs-id langs-header-col">Language:</p>
                            <p class="langs-col langs-header-col">Entries:</p>
                        </div>
                        <br style="line-height: 0.5em;">
                    <% for(const [lang, count] of Object.entries(langs)){ %>
                        <div class="langs-line">
                            <p class="langs-col langs-id"><a href="./langs?l=<%- lang.toLowerCase() %>"><%- lang %></a></p>
                            <p class="langs-col langs-count"><%= count %></p>
                        </div>
                    <% } %>
                    </div>
                </div>
                <hr>
                <div class="button-row"><button class="home-button" onclick="location.href='/';">Home</button></div>
            </div>
        </div>
    </body>

    <%- include("./partials/footer") %>
</html>