<html lang="en">
    <%- include("./partials/head") %>

    <head>   
        <!-- Stylesheet -->
        <link rel="stylesheet" href="../css/style.css" type="text/css">
    </head>

    <body>
        <div class="content banner">
            <h1><a href="/" class="title">Chimbridge Singlish Dictionary</a></h1>
        </div>
        <div class="content">
            <div class="def-box">
                <div class="langs-head-div">
                    <h2 class="subpage-title">Terms originating from <%= lang %></h2>
                    <p class="langs-msg">This page lists all currently defined terms with <strong style="font-family: Crimson Text;"><%= lang %></strong> recorded as a language of origin.</p>
                    <p class="langs-msg">Note that etymologies are typically only traced back to the primary or secondary ancestors of a term, and so older ancestors may not always be included.</p>
                </div>
                <hr>
                <div class="result">
                    <ul class="prefix-list">
                    <% langTerms = langTerms.sort(); %>
                    <% for(let i = 0; i < langTerms.length; i++){ %>    
                        <li><a href="/?q=<%= langTerms[i] %>"><%= langTerms[i] %></a></li>
                    <% } %>
                    </ul>
                </div>
                <hr>
                <div class="button-row">
                    <button class="home-button" onclick="location.href='/langs';">Back to List</button>
                    <button class="home-button" onclick="location.href='/';">Home</button>
                </div>
            </div>
        </div>
    </body>

    <%- include("./partials/footer") %>
</html>