<!DOCTYPE HTML>
<html lang="en">
    <%- include("./partials/head") %>

    <body>
        <%- include("./partials/banner") %>

        <div class="content">
            <div class="def-box">
                <%- include("./partials/search_container") %>

                <% if(prefixResult.length > 0){ %>
                    <%- include("./partials/prefix", {
                        headerText: "entries starting with",
                        result: prefixResult,
                        searchInput: searchInput
                    }) %>
                <% } else { %>
                    <div class="result" id="not-found">
                        <div class="not-found">
                            <h3><%= searchInput %></h3>
                            <p>cannot find.</p>
                            <span style="font-size: 1.75em;">😿</span>
                        </div>
                    </div>
                    <div class="result">
                        <p class="not-found not-found-msg">Perhaps try a different spelling - your search may be listed under something else!</p>
                        <p class="not-found not-found-msg">
                            Alternatively, for very long phrases, try entering the first word and look through the matching entries - some
                            phrases have too many spelling variations to consider.</p>
                    </div>
                <% } %>
            </div>
        </div>

        <%- include("./partials/scripts") %>
        <%- include("./partials/footer") %>

    </body>

</html>