<html lang="en">
    <%- include("./partials/head") %>

    <body>
        <div class="content banner">
            <h1><a href="./" class="title">Chimbridge Singlish Dictionary</a></h1>
        </div>
        <div class="content">
            <div class="def-box">
                <%- include("./partials/search_container") %>

                <% if(prefixResult.length > 0){ %>
                    <%- include("./partials/prefix") %>
                <% } else { %>
                    <div class="result" id="not-found">
                        <div class="not-found">
                            <h3><%= searchInput %></h3>
                            <p>cannot find.</p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

        <%- include("./partials/scripts") %>
        <%- include("./partials/footer") %>

    </body>

</html>