<!DOCTYPE HTML>
<html lang="en">
    <%- include("./partials/head") %>

    <head>   
        <!-- Stylesheet -->
        <link rel="stylesheet" href="../css/style.css" type="text/css">
    </head>

    <body>
        <div class="content banner">
            <h1><a href="/" class="title">Chimbridge Singlish Dictionary</a></h1>
        </div>
        <div class="content">
            <div class="def-box">
                <h2 class="subpage-title">Sources</h2>
                <p class="src-msg">This page lists general references for information, background context, and definitions.<br>Sources for specific terms are listed with the corresponding terms' definition pages.</p>
                <hr>
                <div class="src-wrapper">
                <% for(const [key, source] of Object.entries(sources)){ %>
                    <div class="src-line">
                        <p class="src-col src-id">-</p>

                        <% if(source.type == "web" || source.type == "journal"){ %>
                            <a class="src-col" href="<%= source.link %>"><%= source.name %></a>
                        <% } else if(source.type == "book"){ %>
                            <p class="src-col"><%= typeof source.year !='undefined' ? source.year + ", " : "" %>
                                <%= source.author %>.&nbsp;
                                <i><%= source.title %></i>,&nbsp;
                                <%= typeof source.publisher !='undefined' ? source.publisher + ". " : "" %>
                                <%= typeof source.isbn !='undefined' ? `ISBN: ${source.isbn}` : "" %></p>
                        <% } %>
                    </div>
                <% } %>
                </div>
                <hr>
                <p class="src-msg">~ if you believe a source has been missed out, please do let me know! ~</p>
                <button class="home-button" onclick="location.href='/';">Home</button>
            </div>
        </div>
    </body>

    <%- include("./partials/footer") %>
</html>